extend layout
block content
  svg#keypad(width="200", height="200", xmlns="http://www.w3.org/2000/svg")
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.