extend layout
block scripts
  script(type='text/javascript', src='/js/script.js')
block content
  svg#keypad(width="200", height="250", xmlns="http://www.w3.org/2000/svg")
block sidebar
  .widget
    h1 Call Status
    p#call
      | No call established