/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

body
  font-family 'Georgia'
  background-color background-color
  color #444

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width 500px
  margin 50px auto
  overflow hidden

.main-content
  margin 0 auto
  width 450px

  p
    margin-bottom 20px

.infobar
  margin 0 auto 30px auto
  width 450px
  text-align center

  .widget

    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    width 200px
    display inline-block
    border-radius 3px
    border 1px solid #ccc
    margin-left 20px
    background-color background-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

    h1
      font-family 'Quicksand'
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px

p
  line-height 1.8

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
  text-align center

  a
    color #000
    text-decoration none

table
  margin 0 auto

.square
  width 120px
  height 120px
  font-size 70px
  font-family 'Quicksand'
  text-align center

.v
  border-left 2px solid #4D4D4D
  border-right 2px solid #4D4D4D

.h
  border-top 2px solid #4D4D4D
  border-bottom 2px solid #4D4D4D

keySize = 100px
fontSize = 50px;

.keyBorder {
  margin: 16px 16px;
  float: left;
  position: relative;
  width: keySize;
  height: keySize;
}

.key,
.key:after,
.key:before {
  border-radius 50%
}

.key {
  width: 100%;
  height: 100%;
  display: block;
  background: #b2ac9e;
  background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
  background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
  background: -o-linear-gradient(#f7f2f6, #b2ac9e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  position: relative;
  color: #9EB389;
  font-size: fontSize;
  font-family: 'Quicksand';
  text-align: center;
  line-height: keySize;

  transition: all 0.3s ease-out;

  text-shadow: 0 2px 1px rgba(0,0,0,0.25);

  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 7px rgba(0,0,0,0.3),
    0 6px 6px 4px rgba(0,0,0,0.3);
  z-index: -1;
}

outerRing = -12px
innerRing = -6px

.key:after {
  content: ""; 
  position: absolute;
  left: outerRing;
  right: outerRing;
  top: outerRing;
  bottom: outerRing;
  z-index: -2;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.3),
    0 0 10px rgba(0,0,0,0.15);
  
}

.key:before {
  content: ""; 
  position: absolute;
  left: innerRing;
  right: innerRing;
  top: innerRing;
  bottom: innerRing;
  z-index: -1;
  box-shadow: inset 0 innerRing innerRing rgba(0,0,0,0.13); 
  -webkit-filter:blur(1px);
  -moz-filter:blur(1px);
  -ms-filter:blur(1px);
  -o-filter:blur(1px);
  filter: blur(1px); 
}

.key.checked {
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 4px 8px rgba(0,0,0,0.35),
    0 2px 7px 3px rgba(0,0,0,0.2);
  color: #D38058;
  text-shadow:
    0 2px 1px rgba(0,0,0,0.25),
    0 0px 5px rgba(182,69,69,1);
} 

.keyContent:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -35% 0 0 -35%;
  border-radius: 50%;
  background: #d2cbc3;
  background: linear-gradient(#cbc7bc, #d2cbc3);
  box-shadow:
    0 -2px 5px rgba(255,255,255,0.05),
    0 2px 5px rgba(255,255,255,0.1);
}